.container {
  padding: 24px;
  height: 80vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  max-width: 700px;
  margin: 50px auto;
}
.heading {
  display: flex;
  padding: 10px;
  justify-content: center;
}
